body{
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

.navigation{
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
    height: 100px;
    margin: 0;
    display: inline-block;
}

.LogoWS{
    padding: 0;
    height: 100px;
    display: block;
    position: absolute;
    top: 0px;
    left: 47.5%;

}


.Menu{
    padding: 1rem;
    position: absolute;
    right: 20px;
}


.Menu a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    margin-right: 20px;
    padding: 0.5rem
}


.Menu a:hover{
    border-radius: 50px;
    background-color: gray;
}


.icone{
    height: 60px;
    margin-right: 0;
    margin-top: 20px;
    margin-left: 20px;
}


ul{
    list-style: none;
    display: inline-block;
}


li{
    list-style: none;
    display: inline-block;
}


.langues{
    margin: 0;
    padding: 0;
}




