*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Montserrat, sans-serif;
    font-size: small;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-distributed{
    background-color: black;
    box-sizing: border-box;
    text-align: left;
}

/* Position des différents footer*/

.footer-distributed .footer-gauche,
.footer-distributed .footer-centre,
.footer-distributed .footer-droite{
    display: inline-block;
    vertical-align: top;
}


/* Footer de gauche */

.footer-distributed .footer-gauche{
    width: 30%;
    color: white;
    margin: 20px 10px;
}

.footer-distributed h3 {
    color: white;
    font-family: Montserrat, sans-serif;
    margin: 0;
}

.footer-distributed .liens-footer {
    color: white;
    margin: 20px 0 12px;
}

.footer-distributed .liens-footer a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

/* Footer central*/

.footer-distributed .footer-centre{
    width: 35%;
    color: white;
    margin-bottom: 10px;
}

.footer-distributed .footer-centre .icons{
    width: 35px;
    height: auto;
    text-align: center;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-centre p a {
    color: hotpink;
    text-decoration: none;
}

/* Footer de droite */

.footer-distributed .footer-droite{
    width: 30%;
    color: white;
    margin: 10px 10px;
}

.footer-distributed .footer-entreprise {
    line-height: 20px;
    color: white;
    font-size: 13px;
    margin: 0;
}

.footer-distributed .footer-entreprise span {
    display: block;
    color: hotpink;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .reseaux {
    margin-top: 25px;
    width: 40px;
    height: auto;
    display: inline-block;
}

.footer-distributed .reseaux a{

    width: 35px;
    height: 35px;
    cursor: pointer;
}