label {
    display: block;
    font-family: Montserrat, sans-serif;
    font-weight: inherit;
    color: #000000;
}

input[type='submit'],
label {
    margin-top: 1rem;
}

.LogIn{
    width: 180px;
    height: 40px;
    text-align: center;
    background-color: #777777;
    border: #777777;
    border-radius: 10px;
}

.LogIn:hover{
    background-color: #777777;
    outline: none;
    /*transform: scale(1.2);*/
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}


.Window{
    font-family: Montserrat, sans-serif;
    width: 30%;
    height: 40%;
    background-color: white;
    border: white;
    border-radius: 50px;
    position: absolute;
    top: 250px;
    margin-right: 35%;
    margin-left: 35%;
    display: flex;
    flex-flow: column wrap;
    padding-left:1rem;
    padding-right: 1rem;
}


.Sub1{
    flex: 1;
    font-weight: 800;
    font-size: larger;
    margin: 2.2rem auto 0.5rem;
}


.Sub2{
    flex: 2;
    margin: 0.5rem auto;
}


.Sub3{
    flex: 3;
    margin: 0.5rem auto;
}


.Sub4{
    flex: 4;
    margin: 1rem auto auto;
    font-family: Montserrat, sans-serif;
}


body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


.button{
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

input[type=submit]{
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: larger;
    color: white;
}


.ImageBG{
    position: fixed;
    top: 0;
    margin-top: -15rem;
    height: 100%;
}


#username{
    width:30%;
    margin-top: 3%;
}

#txt{
    margin-bottom: 6%;
}

input[type=text]{
    border-radius: 5px;
    border: 1px solid #dcdcdc;;
    padding-left: 0.2rem;
    height:15%;
    outline: none;
}

input[type=text]:hover
{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

input[type=text]:active
{
    outline: none;
}

input[type=text]:focus
{
    outline: none;
}